body {
  background-image: url("C:/Users/ayesh/OneDrive/Documents/yourpresent/asset/tulip.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: reenie beanie;
  font-size: 18px;
}

.flip-card {
  background-color: transparent;
  padding: 385px 0;
  width: 708px;
  perspective: 40rem;
  margin: auto;
  margin-bottom: 30%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

#fp{
  border-radius: 5px;
  border: none;
  outline: none;
}

.flip-card-back{
  bottom: 370px;
  transform: rotateY(180deg);
  width: fit-content;
}

button.letter {
  cursor: pointer;
  background: transparent;
  background-image: url("asset/envelope1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 708px 508px;
  border-radius: 5px;
  height: 908px;
  width: 708px;
  outline: none;
  border: none;
  transition: top 0.5s;
  padding: 0;
}

button.letter:hover {
  background-image: url("asset/envelope2.png");
  background-size: 100% 100%;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: hidden; 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-image: url("asset/1_20230825_182751_0000.png");
  background-size: 100% 100%;
  margin: auto;
  padding: 20px;
  padding-top: 68px;
  padding-bottom: 148px;;
  border: none;
  border-radius: 1px;
  width: 42%; 
}

#text {
  margin-left: 11%;
  margin-right: 10%;
}

.close {
  color: transparent;
}


